body{
    background-color: #2A2C39;
    font-style: italic;
    font-family: 'Cardo', serif;
}
h1{
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}
blockquote{
    background-color: #2A2C39;
    min-height: 175px;
    margin-bottom: 50px;
}
.bottom-footer{
    position: relative;
    bottom: -200px;
    color: #FFFFFF;
}
button{
    background-color: #FFFFFF;
    width: 125px;
    margin: 0px 5px;
}
.message{
    color: white;
    font-size: 1.50em;
}